<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Budget App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <% if(currentUser){ %>
                    <li>Welcome <%= currentUser.username %></li>
                    <li><a href="/transactions/new">Create a New Transaction</a></li>
                    <li><a href="/categories">Manage Categories</a></li>
                    <li><form action="/logout" method="POST">     
                        <button type="submit">Logout</button>
                    </form></li>
                <% } else { %>
                    <li><a href="/users/new">Sign Up</a></li>
                    <li><a href="/session/new">Sign In</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
