<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Budget App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to Budget App!</h1>
    <p>Manage your finances with ease.</p>
    <a href="/auth/login">Login</a> | <a href="/auth/signup">Sign Up</a>
</body>
</html>


<%- include('partials/footer') %> 


