
body, h1, h2, h3, p, form, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}


.header, .footer {
    background-color: #025e73; 
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.8em; 
    margin-bottom: 0.5em;
    color: #e0f2f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.footer p {
    margin: 0;
}


nav ul {
    list-style: none;
    background-color: #00796b;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a, .nav-link {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav ul li a:hover, .nav-link:hover {
    background-color: #004d40;
}

.button, .button-primary, .button-danger, .logout-btn {
    background-color: #26a69a;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover, .button-primary:hover, .button-danger:hover, .logout-btn:hover {
    background-color: #00796b;
}

.button-danger {
    background-color: #ee6e73;
}


.input-field, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 1em;
}


.transactions-list {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.transactions-list li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.transactions-list li:last-child {
    border-bottom: none;
}

.transaction-amount {
    font-weight: bold;
    font-size: 1.2em;
}

.income {
    color: #388e3c;
}

.expense {
    color: #d32f2f;
}


.logout-btn {
    background-color: #ff5252; 
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em; 
}


.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; 
    padding: 1rem; 
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.category-actions {
    display: flex;
    gap: 20px; 
}


.category-actions a, .category-actions form button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px; 
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-actions a:hover, .category-actions form button:hover {
    background-color: #0056b3;
}

/* Style specifically for delete button for more distinction */
.category-actions form button {
    background-color: #dc3545;
}

.category-actions form button:hover {
    background-color: #c82333;
}


ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    margin-bottom: 1.5rem;
}

.add-category-btn {
    display: inline-block;
    margin-bottom: 2rem; 
    
}

ul {
    margin-top: 2rem; 
   
}

h1 {
    margin-bottom: 3rem; 
}

.categories-title {
    margin-bottom: 3rem; 
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 0.5em;
    }
    
    nav ul li a, .nav-link {
        padding: 10px;
    }
}


