/* Reset some default browser styles */
body, h1, h2, h3, p, form, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.header, .footer {
    background-color: #004d40;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em; /* Increase font size */
    margin-bottom: 0.5em; /* Add some space below the text */
    color: #e0f2f1; /* Light color for contrast against the dark background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}


.footer p {
    margin: 0;
}

nav ul {
    list-style: none;
    background-color: #00796b;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #004d40;
}

.button, .button-primary, .button-danger {
    display: inline-block;
    background-color: #26a69a;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover, .button-primary:hover, .button-danger:hover {
    background-color: #00796b;
}

.button-danger {
    background-color: #ee6e73;
}

.input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 1em;
}

.transactions-list {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.transactions-list li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.transactions-list li:last-child {
    border-bottom: none;
}

.transaction-amount {
    font-weight: bold;
    font-size: 1.2em;
}

.income {
    color: #388e3c;
}

.expense {
    color: #d32f2f;
}

.logout-btn {
    background-color: #ff5252; /* Bright red color for attention */
    color: white; /* White text for readability */
    padding: 10px 20px; /* Adequate padding for a larger click area */
    border-radius: 20px; /* Rounded corners for a modern look */
    border: none; /* Remove default border */
    cursor: pointer; /* Cursor changes to a hand icon on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and slight raise effect */
}

.logout-btn:hover {
    background-color: #ff1744; /* Darker shade of red on hover */
    transform: translateY(-2px); /* Slightly raise the button on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
}



/* Adjustments for small devices */
@media (max-width: 600px) {
    .header, .footer {
        padding: 0.5em;
    }
    
    nav ul li a {
        padding: 10px;
    }
}

